@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.hero-title {
	font-family: "Caveat", cursive;
}

body {
	width: 100%;
	min-height: 100vh;
}

button {
	background: #ffab00;
	border-radius: 10px;
	color: white;
	text-transform: uppercase;
	width: 150px;
	height: 50px;
}

.App {
	width: 100%;
}

nav {
	filter: drop-shadow(0px 0px 16px rgba(44, 54, 64, 0.14));
}

.event-main {
	width: calc(100% - 404px);
}

.event-container {
	filter: drop-shadow(0px 4px 22px rgba(0, 0, 0, 0.25));
}
.joinus-event-outcomes{
	box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.12);
}
/* width */
::-webkit-scrollbar {
	width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: #f8f8f8; 
	border-radius: 5px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: #bebebe; 
	border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #908f8f; 
  }
